
@{
    ViewBag.Title = "display";
}

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <style>
        .dot {
            height: 10px;
            width: 10px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
        }

        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #myCanvas {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
        }

    </style>
</head>

<body id="body">

    <img src="~/Content/Images/export-map-share.png" style="
    width: 100%;
    height: 100%;

    position: absolute;"
         id="mapImage" />

    <canvas id="myCanvas"></canvas>



</body>
</html>


@if (ViewBag.isSavedSimulation == null)
{
    if (@ViewBag.time == null)
    {

        <script>
            function normalize(value, min, max, newMin, newMax) {
                return ((value - min) / (max - min)) * (newMax - newMin) + newMin;
            }
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            ctx.canvas.width = $(body).width();
            ctx.canvas.height = $(body).height();
            function addPlaneData() {
                $.post("@Url.Action("GetPlaneData")").done(function (xml) {
                    var xmlDoc = $.parseXML(xml),
                        $xml = $(xmlDoc);
                    var Latitude = $xml.find("Latitude").text();
                    var Longitude = $xml.find("Longitude").text();
                    //var Latitude = 90;
                    //var Longitude = 180;

                    //var data = "Latitude: " + String(Latitude) + " Longitude: " + String(Longitude);
                    // dataList.push(data);

                    /*Latitude *= 10;
                    LatitudeDiff = Latitude - parseInt(Latitude);
                    LatitudeDiff *= 1000;

                    LatitudeDiff /= 10;

                    Longitude *= 10;
                    LongitudeDiff = Longitude - parseInt(Longitude);
                    LongitudeDiff *= 1000;*/

                    LatitudeValue = normalize(Latitude, -90, 90, 0, $(body).height());
                    // alert(LongitudeDiff);
                    LongitudeValue = normalize(Longitude, -180, 180, 0, $(body).width());

                    //var dot = document.createElement("SPAN");
                    //dot.className = "dot";
                    // var img = document.getElementById("mapImage");
                    //var offset = img.offset;
                    //var width = ctx.canvas.width;
                    //var height = ctx.canvas.height;

                    // var centerX = width / 2;
                    // var centerY = height / 2;
                    //var left = String(parseFloat(LatitudeValue) * 100 / width);
                    //var top = String(parseFloat(LongitudeValue) * 100 / height);

                    var left = LongitudeValue;
                    var top = LatitudeValue;

                
                    // var img = document.getElementById("mapImage");

                    ctx.beginPath();
                    ctx.arc(left, top, 5, 0, 2 * Math.PI);
                    ctx.fillStyle = "red";
                    ctx.fill();
                    // alert(LatitudeDiff);
                    // alert(LongitudeDiff);
                    // dot.style.left = left;
                    // dot.style.top = top;
                    // document.body.appendChild(dot);
                    // $("#Latitude").text(Latitude);
                    // $("#Longitude").text(Longitude);
                    })
            }
            window.onload = addPlaneData();
        </script>

    }
    else
    {
        <script>
            function normalize(value, min, max, newMin, newMax) {
                return ((value - min) / (max - min)) * (newMax - newMin) + newMin;
            }
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            ctx.canvas.width = $(body).width();
            ctx.canvas.height = $(body).height();
            var points = [1, 2, 3, 4];
            points.length = 0;
            function addPlaneData() {
                $.post("@Url.Action("GetPlaneData")").done(function (xml) {
                    var xmlDoc = $.parseXML(xml),
                        $xml = $(xmlDoc);
                    var Latitude = $xml.find("Latitude").text();
                    var Longitude = $xml.find("Longitude").text();

                    var ctx = c.getContext("2d");
                    ctx.clearRect(0, 0, c.width, c.height);
                    //var Latitude = 90;
                    //var Longitude = 180;

                    //var data = "Latitude: " + String(Latitude) + " Longitude: " + String(Longitude);
                    // dataList.push(data);

                    /*Latitude *= 10;
                    LatitudeDiff = Latitude - parseInt(Latitude);
                    LatitudeDiff *= 1000;

                    LatitudeDiff /= 10;

                    Longitude *= 10;
                    LongitudeDiff = Longitude - parseInt(Longitude);
                    LongitudeDiff *= 1000;*/

                    LatitudeValue = normalize(Latitude, -90, 90, 0, $(body).height());
                    // alert(LongitudeDiff);
                    LongitudeValue = normalize(Longitude, -180, 180, 0, $(body).width());

                    //var dot = document.createElement("SPAN");
                    //dot.className = "dot";
                    // var img = document.getElementById("mapImage");
                    //var offset = img.offset;
                    //var width = ctx.canvas.width;
                    //var height = ctx.canvas.height;

                    // var centerX = width / 2;
                    // var centerY = height / 2;
                    //var left = String(parseFloat(LatitudeValue) * 100 / width);
                    //var top = String(parseFloat(LongitudeValue) * 100 / height);

                    var left = LongitudeValue;
                    var top = LatitudeValue;

                    points.push({ x: left, y: top });

                    for (var i = 0; i < points.length - 1; i++) {
                        var firstPoint = points[i];
                        var nextPoint = points[i + 1];
                        ctx.beginPath();
                        ctx.moveTo(firstPoint.x, firstPoint.y);
                        ctx.lineTo(nextPoint.x, nextPoint.y);
                        ctx.strokeStyle = "red";
                        ctx.stroke();
                    }

                    ctx.beginPath();
                    ctx.moveTo(points[points.length - 1].x, points[points.length - 1].y);
                    ctx.lineTo(left, top);
                    ctx.strokeStyle = "red";
                    ctx.stroke();

                
                    // var img = document.getElementById("mapImage");

                    ctx.beginPath();
                    ctx.arc(left, top, 5, 0, 2 * Math.PI);
                    ctx.fillStyle = "red";
                    ctx.fill();
                    // alert(LatitudeDiff);
                    // alert(LongitudeDiff);
                    // dot.style.left = left;
                    // dot.style.top = top;
                    // document.body.appendChild(dot);
                    // $("#Latitude").text(Latitude);
                    // $("#Longitude").text(Longitude);
                    })
            }
            //window.onload = addPlaneData();
            var intervalTime = (@ViewBag.time) * 1000;

            setInterval(addPlaneData, intervalTime);
            window.onload = addPlaneData();

        </script>

    }
} else
{
    <script>
        function normalize(value, min, max, newMin, newMax) {
            return ((value - min) / (max - min)) * (newMax - newMin) + newMin;
        }
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.canvas.width = $(body).width();
        ctx.canvas.height = $(body).height();
        var points = [1, 2, 3, 4];
        points.length = 0;
        function getPlaneData() {
            var filename = {
                filename: "@ViewBag.filename"
            };
            $.post("@Url.Action("GetFileSavedData")", filename).done(function (text) {
                var lines = text.split("\r\n");
                var i = 0;
                var id = setInterval(getPlaneDataLine, (@ViewBag.time) * 1000);
                function getPlaneDataLine() {
                    if (i >= lines.length) {
                        clearInterval(id);
                        //alert("Simulation Has Finished.");
                        return;
                    }
                    xml = lines[i];
                    i++;
                    var xmlDoc = $.parseXML(xml),
                        $xml = $(xmlDoc)
                    var Latitude = $xml.find("Latitude").text();
                    var Longitude = $xml.find("Longitude").text();

                    //var data = "Latitude: " + String(Latitude) + " Longitude: " + String(Longitude);

                    /*Latitude *= 10;
                    LatitudeDiff = Latitude - parseInt(Latitude);
                    LatitudeDiff *= 1000;

                    LatitudeDiff /= 10;

                    Longitude *= 10;
                    LongitudeDiff = Longitude - parseInt(Longitude);
                    LongitudeDiff *= 1000;*/

                    var ctx = c.getContext("2d");
                    ctx.clearRect(0, 0, c.width, c.height);
                    //var Latitude = 90;
                    //var Longitude = 180;

                    //var data = "Latitude: " + String(Latitude) + " Longitude: " + String(Longitude);
                    // dataList.push(data);

                    /*Latitude *= 10;
                    LatitudeDiff = Latitude - parseInt(Latitude);
                    LatitudeDiff *= 1000;

                    LatitudeDiff /= 10;

                    Longitude *= 10;
                    LongitudeDiff = Longitude - parseInt(Longitude);
                    LongitudeDiff *= 1000;*/

                    LatitudeValue = normalize(Latitude, -90, 90, 0, ctx.canvas.height);
                    // alert(LongitudeDiff);
                    LongitudeValue = normalize(Longitude, -180, 180, 0, ctx.canvas.width);

                    var left = LongitudeValue;
                    var top = LatitudeValue;

                    points.push({ x: left, y: top });

                    for (var j = 0; j < points.length - 1; j++) {
                        var firstPoint = points[j];
                        var nextPoint = points[j + 1];
                        ctx.beginPath();
                        ctx.moveTo(firstPoint.x, firstPoint.y);
                        ctx.lineTo(nextPoint.x, nextPoint.y);
                        ctx.strokeStyle = "red";
                        ctx.stroke();
                    }

                    ctx.beginPath();
                    ctx.moveTo(points[points.length - 1].x, points[points.length - 1].y);
                    ctx.lineTo(left, top);
                    ctx.strokeStyle = "red";
                    ctx.stroke();


                    // var img = document.getElementById("mapImage");

                    ctx.beginPath();
                    ctx.arc(left, top, 5, 0, 2 * Math.PI);
                    ctx.fillStyle = "red";
                    ctx.fill();
                    // $("#Latitude").text(Latitude);
                    // $("#Longitude").text(Longitude);
                    if (i >= lines.length) {
                        clearInterval(id);
                        setTimeout(function () {
                            alert("Simulation Has Finished.");
                        }, 100);
                        return;
                    }
                }
            })
        }

        /*$(window).resize = function () {
            ctx.canvas.width = $(body).width;
            ctx.canvas.height = $(body).height;
        }*/
        
        
        getPlaneData();
    </script>
}




